.button-14 {
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
}

.button {
  margin-left: 40px;
}
.topbar {
  padding-left: 3px;
  text-align: center;
  background-color: #f1f4eb;
  width: 100%;
}

#Home,#PersonalCenter,#Message,#Favorite,#History,#LogOut{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: #243665;
  padding-left: 3px;
  padding-right: 3px ;
  text-align: center;
  background-color: #f1f4eb;
  font-family: "Helvetica Neue";
  font-weight: bold;
  font-size: 18px;
  padding-top: 13px;
  text-align-all: center;
}
#Home:hover, #Home:active{
  background-color: #bc4747;
  color: #f1f4eb;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#PersonalCenter:hover,#PersonalCenter:active{
  background-color: #bc4747;
  color: #f1f4eb;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#Message:hover,#Message:active{
  background-color: #bc4747;
  color: #f1f4eb;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#Favorite:hover,#Favorite:active{
  background-color: #bc4747;
  color: #f1f4eb;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#History:hover,#History:active{
  background-color: #bc4747;
  color: #f1f4eb;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#LogOut:hover,#LogOut:active{
  background-color: #bc4747;
  color: #f1f4eb;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.badge {
  top: -20px;
  right: -10px;

  padding: 5px 10px;
  border-radius: 8px;
  background: red;
  color: white;
}
.badge:hover{
  background: #bc4747;
  color: white;
}
#boarder{
  border-style: solid;
  border-width: 2px;
  background-color: #75c4c6;
  border-color: #75c4c6;
  border-radius: 10px;
//text-align: center;
  margin: 10px auto;
  width: 80%;
}
.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;

  margin-top: 10px;
  //border-style: solid;
  //opacity: 0.5;
//box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
//height: 50px;
}

.grid-4 {
  margin-top: 10px;
  margin-right: 3%;
  margin-left: 3%;
  -ms-grid-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
//box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
//border-style: solid;
//border-width: 1px;
//border-color: hsla(214.17218543046354, 100.00%, 70.39%, 1.00);
  background-color: white;
  border-radius: 20px;
  width: 800px;
  align-self: auto;
  //margin-left: 250px;
  margin-bottom: 10px;
  margin: 20px auto;
}

.image-3{
  width: 240px;
  height: 240px;
//border-style: solid;
//border-width: 1px;
//border-color: hsla(214.17218543046354, 100.00%, 70.39%, 1.00);
  border-radius: 20px;
  padding: 5px;
  border: solid 3px #EFEFEF;

}
.link {
  width: 240px;
  height: 240px;
//border-style: solid;
//border-width: 1px;
//border-color: hsla(214.17218543046354, 100.00%, 70.39%, 1.00);

  border-radius: 20px;
  margin-top: 13px;
  margin-left: 43px;

}
.image-3:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border: solid 1px #CCC;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;
}
.text-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 30px;
  color: white;
}

#cover.w-node-0dac08b5cfc3-ea807e57 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 4;
  grid-row-end: 5;
}

#title.w-node-0dac08b5cfc4-ea807e57 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

.text-block-2 {
  margin-top: 20px;
  font-family: "Helvetica Neue";
  font-weight: bold;
  color: #243665;
  font-size: 20px;
  text-align: center;
  text-align-all: center;
//margin: 10px auto;
//border-style: solid;
}