.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.div-block {
  margin-top: 109px;
}

.form {
  margin-right: 450px;
  margin-left: 450px;
  text-align: center;
}

.text-block {
  margin-top: -258px;
  margin-bottom: -32px;
}

.form-block {
  margin-top: -14px;
  margin-bottom: 11px;
}

.text-block-2 {
  margin-top: 151px;
  margin-right: 450px;
  margin-left: 450px;
  padding-bottom: 60px;
  //font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  font-family: Chalkboard;
  //color: #547aaf;
  color: white;
  font-size: 80px;
  text-align: center;
}
#LemonComic{
  color: white;
  font-family: Chalkboard;
}
#SignIn{
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: -10px;
  font-family: sans-serif;
  font-size: 50px;
  color: white;
}
#LemonMan{
  width: 0px;
  height: 0px;
}
#Submit,#SignUpButton{
  width: 100px;
}
#ID,#Password,#Email,#Password2{
  color: white;
}
.body {
  background-color: #e8eaed;
}
.body {
  background-color: hsla(198.1034482758621, 100.00%, 45.49%, 1.00);
  color: #fff;
}
input[type=text],input[type=password]{
  //border: 2px solid #e89645;
  border-radius: 8px;
  width: 250px;
}
input[type=text]:hover,input[type=password]:hover{
  border: 2px solid #e89645;
  //border-radius: 8px;
  width: 300px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.grid {
  grid-column-gap: 20px;
  grid-row-gap: 24px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-2 {
  margin-top: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
  grid-row-gap: 14px;
  grid-template-areas: ".";
  -ms-grid-columns: 0.4fr 1fr 0.4fr;
  grid-template-columns: 0.4fr 1fr 0.4fr;
  -ms-grid-rows: auto 14px auto 14px auto;
  grid-template-rows: auto auto auto;
  text-align: center;
}

.text-block-3 {
  margin-top: 44px;
  margin-bottom: 87px;
  font-family: 'Great Vibes', cursive;
  color: hsla(56.25000000000001, 100.00%, 65.49%, 1.00);
  font-size: 100px;
  text-align: center;
}

.image {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  text-align: center;
}

.text-block-4 {
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  color: hsla(56.25000000000001, 100.00%, 65.49%, 1.00);
  font-size: 70px;
}

.field-label {
  display: block;
  text-align: left;
}

.form-block-2 {
  margin-top: 15px;
  margin-left: 103px;
  //border: black;
}

.field-label-2 {
  margin: 0px 110px -24px -110px;
  padding-right: 0px;
  color: hsla(56.25000000000001, 100.00%, 65.49%, 1.00);
  font-size: 20px;
  text-align: left;
}

.field-label-3 {
  margin-right: 110px;
  margin-bottom: -29px;
  margin-left: -110px;
  color: hsla(56.25000000000001, 100.00%, 65.49%, 1.00);
  font-size: 20px;
  text-align: left;
}

.column {
  margin-top: 1px;
}

.form-2 {
  margin-top: 80px;
  margin-bottom: 0px;
}

.submit-button {
  background-color: #ec6736;
}

.button {
  margin-left: 10px;
  background-color: #ec6736;
}

#LemonComic.w-node-854dfb3dfcea-36a3ba2e {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-70e4f583243a-36a3ba2e {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row-span: 2;
  grid-row-end: 4;
}

#Lemon.w-node-a686f24af0d6-36a3ba2e {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#Lemon.w-node-9fbf00f03afc-36a3ba2e {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#Lemon.w-node-560e47f91c2d-36a3ba2e {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#Lemon.w-node-cffa6062aa6d-36a3ba2e {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#Lemon.w-node-4df6d5d728b3-36a3ba2e {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#Lemon.w-node-8c90c7f580cf-36a3ba2e {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}
